*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #222;
}

.container{
    display: grid;
    grid-template-columns: min-content 1fr ;

}

.main-content{
    grid-column:2/3;
    grid-row: 2/3;
    background: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,.8)), url("../images/awesome.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.sidebar{
    position: fixed;
    height: 100vh;
    grid-column: 1/2;
    grid-row: 1/end;
    width:3rem;
    background-color: #ffab40;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    z-index: 10;
}
.menu-bar{
    margin-top: 3rem;
    cursor: pointer;
}

.menu-bar:hover .line{
    width: 2.5rem;
}

.navigation{
    position: fixed;
    grid-column: 1/2;
    grid-row: 2/4;
    width: 8rem;
    background-color: gray;
    opacity: 0.8;
    height: 100%;
    left: -8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left .8s cubic-bezier(1,0,0,1);
}

.line{
    width: 2.5rem;
    height: .2rem;
    background-color: #222;
    margin-bottom: .6rem; 
}

.navigation ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 20rem;
    font-size: .6rem;
}

.line-1,.line-3{
    width: 1.8rem;
    transform: all .3s;
}

.checkbox:checked ~ .navigation{
   left:3rem;
}

.checkbox:checked ~ .sidebar .line-1{
    transform: rotate(-405deg) translate(-5px,6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2{
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3{
    transform: rotate(405deg) translate(-5px,-6px);
    width: 2.5rem;
}

.navigation p{
    font-size: 1.3rem;
}

.navigation >  ul > li > a{
    text-decoration: none;
    display: block;
    padding: 1.2rem 0;
    font-size: 1.5rem;
    color:#ff5722;
    opacity: 1;
} 

.navigation >ul>li>a:hover{
    color: orange;
}

.projects{
    grid-column: 2/-1;
    grid-row: 3/4;
    margin-left: 3.5rem;
    padding: .5rem;
    color: #0091ea;
 
}
.projects h2{
    color: goldenrod;
    text-align: center;
}

.about-me{
    grid-column: 2/-1;
    grid-row: 4/5;
    margin-left: 3.5rem;
    padding: .5rem;
    color: #0091ea;
   
}

.about-me h2{
    text-align: center;
    color: goldenrod;
}

.contact{
    grid-column: 2/-1;
    grid-row: 5/6;
    margin-left: 3.5rem;
    padding: .5rem;
    color: #0091ea;

}

.contact h2{
    text-align: center;
    color: goldenrod;
}

.footer{
    grid-column: 2/-1;
    grid-row:6/7;
    background-color: gray;
    text-align: center;
    font-size: .8rem;
    padding: .3rem 0;
}
